<img id="brand" src="../../assets/items/images-05.png" alt="" >
<img id="home" src="../../assets/items/images-09.png" alt="" routerLink="/" >
<img *ngIf="showSecond" (click)="goBack()" id="album" src="../../assets/items/images-10.png" alt=""  >
<img id="below" src="../../assets/items/images-08.png" alt=""  >
<!-- <img id="nexticon" *ngIf="!showSecond" src="../../assets/items/images-12.png" alt="" > -->
<!-- <img id="backicon" *ngIf="!showSecond"src="../../assets/items/images-11.png" alt=""  > -->


<div id="grid"  *ngIf="showFirst">
  <div class="container" *ngIf="gridOne" >
    <div class="row">
      <div (click)="goToBig(1)">
        <img id="img" src="../../assets/2. Roadworks/1.JPG" class="d-block w-100"  >
      </div>
      <div (click)="goToBig(2)">
        <img id="img" src="../../assets/2. Roadworks/2.JPG" class="d-block w-100"  >
      </div>
      <div (click)="goToBig(3)">
        <img id="img" src="../../assets/2. Roadworks/3.JPG" class="d-block w-100"  >
      </div>
      <div (click)="goToBig(4)" >
        <img id="img" src="../../assets/2. Roadworks/4.JPG" class="d-block w-100"  >
      </div>
    </div>
    <div class="row">
      <div (click)="goToBig(5)">
        <img id="img" src="../../assets/2. Roadworks/5.JPG" class="d-block w-100"  >
      </div>
      <div (click)="goToBig(6)" >
        <img id="img" src="../../assets/2. Roadworks/6.JPG" class="d-block w-100"  >
      </div>
      <div (click)="goToBig(7)" >
        <img id="img" src="../../assets/2. Roadworks/7.JPG" class="d-block w-100"  >
      </div>
      <div >
        <!-- <img id="img" src="../../assets/2. Roadworks/2.JPG" class="d-block w-100"  (click)="goToBig(8)"> -->
      </div>
    </div>
  </div>

</div>

<!-- <img id="one" src="../../assets/items/images-11.png" alt="">
<img id="two" src="../../assets/items/images-12.png" alt=""> -->

<img id="icon2" src="../../assets/items/images-14.png" alt=""    (click)="show()" *ngIf="showSecond">

<!-- <button id="back"(click)="goPrevious()"  *ngIf="showSecond">&#60;</button> -->
<img id="back" *ngIf="showSecond"src="../../assets/items/images-11.png" alt="" (click)="goPrevious()" >

<!-- <button id="next" (click)="goNext()"  *ngIf="showSecond">&#62;</button> -->
<img id="next" *ngIf="showSecond" src="../../assets/items/images-12.png" alt="" (click)="goNext()" >

<section  *ngIf="showSecond">
  <img id="img" src="../../assets/2. Roadworks/{{numb}}.JPG" class="d-block w-100" alt="...">
</section>

<div class="scroll-container"  *ngIf="showSecond">
  <img id="main" src="../../assets/2. Roadworks/1.JPG"  (click)="sendId(1)" >
  <img id="main" src="../../assets/2. Roadworks/2.JPG"  (click)="sendId(2)" >
  <img id="main" src="../../assets/2. Roadworks/3.JPG"  (click)="sendId(3)" >
  <img id="main" src="../../assets/2. Roadworks/4.JPG"  (click)="sendId(4)" >
  <img id="main" src="../../assets/2. Roadworks/5.JPG"  (click)="sendId(5)" >
  <img id="main" src="../../assets/2. Roadworks/6.JPG"  (click)="sendId(6)" >
  <img id="main" src="../../assets/2. Roadworks/7.JPG"  (click)="sendId(7)" >
</div>


<img id="icon" src="../../assets/items/images-13.png" alt="" style="z-index: 4000;" *ngIf="isShow" (click)="backToAlbum()">
<div id="carouselExampleFade" class="carousel slide carousel-fade"style="z-index: 3000;"*ngIf="isShow" >
  <div class="carousel-inner">
    <div class="carousel-item active" *ngIf="isShow" >
      <img id="mainImg"  src="../../assets/2. Roadworks/{{numb}}.JPG"  alt="...">
    </div>
  </div>  
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true" (click)="goPrevious()" ></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"(click)="goNext()"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

